<section class="col-lg-12">
  <div class="row">
    <div class="col-md-6">
      <div class="box box-success">
        <div class="box-header with-border">
          <h3 class="box-title">Adicionar fundos</h3>
        </div>
        <div class="box-body">
          <div class="form-group">
            <label for="exampleInputEmail1">Valor do fundo</label>
            <input
              type="number"
              [(ngModel)]="priceAddFunds"
              class="form-control"
              placeholder="Valor do fundo"
            />
          </div>
        </div>
        <div class="box-footer">
          <button (click)="addFunds()" class="btn btn-success">Adicionar</button>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="box box-danger">
        <div class="box-header with-border">
          <h3 class="box-title">Retirar fundos</h3>
        </div>
        <div class="box-body">
          <div class="form-group">
            <label for="exampleInputEmail1">Valor do fundo</label>
            <input
              type="number"
              [(ngModel)]="priceWithdrawFunds"
              class="form-control"
              placeholder="Valor do fundo"
            />
          </div>
        </div>
        <div class="box-footer">
          <button (click)="withdrawFunds()" class="btn btn-danger">Retirar</button>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Historico</h3>
        </div>
        <div class="box-body table-responsive no-padding">
          <table class="table table-hover">
            <tbody>
              <tr>
                <th>ID</th>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
