.container-actions{
  display: flex;
  flex-wrap: wrap;

}
.container-actions .quote{
  width: 172px;
  background: #fff;
  padding: 20px;
  margin: 5px;
  box-shadow: 0px 0px 11px #00000017;
  border-radius: 5px;
  text-align: center;
  /* border-top: 3px solid #f39c12; */
}
.container-actions .quote .name-quote{
  font-weight: 600;
}

.container-actions .quote .btn-buy{
  margin-top: 15px;
}

.loading-quote{
  color: red;
}