<section class="col-lg-12">
  <div class="container-actions">
    <div class="quote" *ngFor="let nameQuote of nameQuotes">
        <div class="name-quote">{{nameQuote}}</div>
        <div class="valeu-quote">
          <span *ngIf="!quotes[nameQuote]" class="loading-quote">carregando</span>
          <span *ngIf="quotes[nameQuote]">{{quotes[nameQuote]}}</span>
        </div>

        <div>
          <div class="input-group">
            <input type="text" [(ngModel)]="quantity[nameQuote]" class="form-control" placeholder="Quantidade">
          </div>
        </div>

        <div>
          <button type="button" (click)="buyQuote(nameQuote, quantity[nameQuote], quotes[nameQuote])" class="btn btn-success btn-sm btn-buy" [disabled]="!quotes[nameQuote]">Comprar</button>
        </div>
    </div>
  </div>
</section>
