<section class="col-lg-12">
  <div class="row">
    <div class="col-md-12">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Carteira</h3>
        </div>
        <div class="box-body table-responsive no-padding">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Ativo</th>
                <th>Encerrar</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let quote of uniqueQuotes">
                <td>{{quote}}</td>
                <td>
                  <button (click)="closePositions(quote)" class="btn btn-danger">Encerrar</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Ordens</h3>
        </div>
        <div class="box-body table-responsive no-padding">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>ID</th>
                <th>Ativo</th>
                <th>Compra/Venda</th>
                <th>Quantidade</th>
                <th>Preço</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let order of orders">
                <td>{{order.id}}</td>
                <td>{{order.quote}}</td>
                <td>
                  <span *ngIf="order.side === 1">Compra</span>
                  <span *ngIf="order.side === 2">Venda</span>
                </td>
                <td>{{order.quantity}}</td>
                <td>{{order.price}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
