<ngx-snackbar></ngx-snackbar>

<div class="wrapper" style="height: auto; min-height: 100%;">

  <header class="main-header">
    <!-- Logo -->
    <a href="#" class="logo">
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>T</b>Quotes</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top"></nav>
  </header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar" style="height: auto;">
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu tree" data-widget="tree">
        <li class="header">MENU</li>
        <li class="treeview">
          <a [routerLink]="[ '/funds' ]">
            <i class="fa fa-university" aria-hidden="true"></i>
            <span>Adicionar e Retirar fundos</span>
          </a>
        </li>
        <li class="treeview">
          <a href="#" [routerLink]="[ '/actions' ]">
            <i class="fa fa-money" aria-hidden="true"></i>
            <span>Ações</span>
          </a>
        </li>
        <li class="treeview">
          <a [routerLink]="[ '/wallet' ]">
            <i class="fa fa-credit-card-alt" aria-hidden="true"></i>
            <span>Carteira</span>
          </a>
        </li>
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper" style="min-height: 916px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Dashboard
        <small>Control panel</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <!-- Small boxes (Stat box) -->
      <div class="row">
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-aqua">
            <div class="inner">
              <h3><sup style="font-size: 20px">R$</sup> {{wallet}}</h3>
              <p>Fundos</p>
            </div>
            <div class="icon">
              <i class="ion ion-bag"></i>
            </div>
            <a [routerLink]="[ '/funds' ]" class="small-box-footer">Adicionar fundos <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- TODO calcular carteira mais calor atual do cotações  -->
          <!-- <div class="small-box bg-green">
            <div class="inner">
              <h3><sup style="font-size: 20px">R$</sup> 1000,00</h3>
              <p>Fundos + ações</p>
            </div>
            <div class="icon">
              <i class="ion ion-stats-bars"></i>
            </div>
            <a href="#" class="small-box-footer">Ações <i class="fa fa-arrow-circle-right"></i></a>
          </div> -->
        </div>
      </div>
      <!-- /.row -->
      <div class="row">
        <!-- <section class="col-lg-7 connectedSortable ui-sortable"></section>
        <section class="col-lg-5 connectedSortable ui-sortable"></section> -->
        <router-outlet></router-outlet>
      </div>

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Version</b> 1.0.0
    </div>
    <strong>
      Copyright © 2019 <a href="#">TQuotes</a>.</strong> Todos os direitos reservados
  </footer>
</div>
